html {
    min-width: 300px;
    zoom: 140%
}


.title {
    font-style: italic;
    color: white;
}


body {
    background-color: #000080;
    margin: 0% 30%;
    min-width: 200px;
    align-items: center;
}

.white {
    color: white;
}

.darkness {
    background-color: #000066;
    max-width: 1000px;
}

.list {
    background-color: lightsteelblue;
    width: fit-content;
}

.back-white {
    background-color: white;
}