.title {
    font-style: italic;
    color: white;
}

body {
    background-color: #000080;
    margin: 0% 30%;
}

.white {
    color: white;
}

.darkness {
    background-color: #000066;
    max-width: 1000px;
}

.list {
    background-color: lightsteelblue;
    width: fit-content;
}

.back-white {
    background-color: white;
}